body {
    margin: 0;
    font-family: sans-serif;
    display: flex; /* Usamos flexbox para el diseño */
    margin: 0 auto;
    flex-direction: column; /* Alineamos el header y el contenido verticalmente */
}

header {
    background-color: rgb(221, 221, 221);
    color: grey;
    padding: 10px 20px;
    display: flex; /* Usamos flexbox para alinear los elementos horizontalmente */
    justify-content: center; /* Centramos los elementos del header */
    align-items: center; /* Alineación vertical centrada */
    width: 100%; /* Ancho completo */
    position: fixed; /* Fijamos el header a la parte superior */
    top: 0; /* Lo fijamos en la parte superior */
    z-index: 100; /* Aseguramos que esté por encima de otros elementos */
    margin: 0 auto;
}

/* Logo */
#logo, #logo2 {
    height: 40px;
    margin: 0 10px; /* Agregamos un margen horizontal para separar las imágenes */
    display: flex;

}